.album-card {
    width: 15rem;
    margin: 10px;
    background-color: var(--bg-dark-surface);
    color: var(--txt-primary);
}

.album-container {
    display: flex;
    justify-content: space-evenly;
    align-items: stretch;
    flex-wrap: wrap;
    padding: 3% 2%;
    min-height: 100vh;
    background-color: var(--bg-dark-primary);
}

.search-bar {
    padding: 3% 7%;
    width: 100%;
    background-color: var(--bg-dark-primary);
}

.search-bar input {
    background-color: var(--bg-dark-surface);
    color: white;
}

.search-bar input:focus {
    background-color: var(--bg-dark-surface);
    color: white;
}